@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

/* Enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Global font */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/* Define theme colors properly */
@theme {
  --color-primary: #3b82f6;
  --color-secondary: #7c3aed;
  --color-accent: #2bb7da;
}

/* Map utility class manually */
.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}
